{%extends "template.html" %}

{% block body %}
	<h1 style="text-align: center"> About?? </h1>
	<div class = "row">
		<div class = "col-md-1 col-md-2">
		</div>

		<div class = "col-md-4 col-md-8">
			<div class="background">
					<div class="transbox">
			
			<p > A book is a written or printed sheet of pages of information. The information may be related to various subject and topics. The internet world has also introduced electronic form of books known as e-books.

Today books are printed almost in all the languages of the world. Earlier, only a few people would read books. Now, with the spread of education, more and more people are found reading books. Books are written on all subjects. There are books on literature, history, geography, mathematics etc.

Books are our real friends. They are our guides. We can learn everything from them. The books contain all the great thoughts of our world and we can learn them by reading the books. The books help us find answers to our questions. The books never fail us.

We should read as many books as we can. But all books are not good. So we should choose only good books and read them. Our teachers and parents can help us choose good books. </p>

		</div>
	</div>
		</div>
	<div class="col-md-1 cold-md-2"></div>
	</div>
{% endblock %}